{% extends 'base.html' %}

{% block content %}



    {% if user.is_authenticated %}


        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">Coder</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>

            {% if types %}
                {% for type in types %}
                    <tr>
                        <td>{{ type.code }}</td>
                        {% if type.code == '4' %}
                            <td>
                                <a href="{% url 'other_solution_type' %}">{{ type.name }}</a>
                            </td>
                        {% elif type.code == '3' %}
                            <td>
                                <a href="{% url 'buffer_solution_type' %}">{{ type.name }}</a>
                            </td>
                        {% elif type.code == '6' %}
                            <td>
                                <a href="{% url 'ferment_type' %}">{{ type.name }}</a>
                            </td>
                        {% elif type.code == '1' %}
                            <td>
                                <a href="{% url 'dry_substance_type' %}">{{ type.name }}</a>
                            </td>
                        {% elif type.code == '7' %}
                            <td>
                                <a href="{% url 'primer_type' %}">{{ type.name }}</a>
                            </td>
                        {% elif type.code == '5' %}
                            <td>
                                <a href="{% url 'restriction_enzyme_type' %}">{{ type.name }}</a>
                            </td>
                        {% elif type.code == '2' %}
                            <td>
                                <a href="{% url 'substance_solution_type' %}">{{ type.name }}</a>
                            </td>
                        {% else %}
                            <td>
                                Empty
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            {% endif %}


            </tbody>
        </table>





    {% else %}

        <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br/>

        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text" class="form-control" name="username" , placeholder="Username" required>

            </div>
            <br/>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" , placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Login</button>

        </form>



    {% endif %}

{% endblock %}